<h2>.pt</h2>
<ul class='submenu'>
    <li class='submenu-item'><a href="http://31daarmada.blogs.sapo.pt/" title="None">31 da Armada</a></li>
    <li class='submenu-item'><a href="http://5dias.net/" title="None">5 dias</a></li>
    <li class='submenu-item'><a href="http://aartedafuga.blogspot.com/" title="None">A Arte da Fuga</a></li>
    <li class='submenu-item'><a href="http://barbearialnt.blogspot.com/" title="None">A Barbearia do Senhor Luís</a></li>
    <li class='submenu-item'><a href="http://destrezadasduvidas.blogspot.com/" title="None">A Destreza das Dúvidas</a></li>
    <li class='submenu-item'><a href="http://aesquinadorio.blogs.sapo.pt/" title="None">A Esquina do Rio</a></li>
    <li class='submenu-item'><a href="http://anaturezadomal.blogspot.com/" title="None">A Natureza do Mal</a></li>
    <li class='submenu-item'><a href="http://origemdasespecies.blogs.sapo.pt/" title="None">A Origem das Espécies</a></li>
    <li class='submenu-item'><a href="http://www.pracadarepublicaembeja.net/" title="None">A Praça da República</a></li>
    <li class='submenu-item'><a href="http://abcdoppm.blogs.sapo.pt/" title="None">ABC do PPM</a></li>
    <li class='submenu-item'><a href="http://abrupto.blogspot.com/" title="None">Abrupto</a></li>
    <li class='submenu-item'><a href="http://adeuslenine.blogspot.com/" title="None">Adeus Lenine</a></li>
    <li class='submenu-item'><a href="http://www.activismodesofa.net/" title="None">Activismo de Sofá</a></li>
    <li class='submenu-item'><a href="http://alunosdoliberalismo.blogs.sapo.pt/" title="None">Alunos do Liberalismo</a></li>
    <li class='submenu-item'><a href="http://almocrevedaspetas.blogspot.com/" title="None">Almocreve das Petas</a></li>
    <li class='submenu-item'><a href="http://arrastao.org/" title="None">Arrastão</a></li>
    <li class='submenu-item'><a href="http://artigo58.blogs.sapo.pt/" title="None">Artigo 58</a></li>
    <li class='submenu-item'><a href="http://aspirinab.com/" title="None">Aspirina B</a></li>
    <li class='submenu-item'><a href="http://avatares-de-desejo.blogspot.com/" title="None">Avatares de um Desejo</a></li>
    <li class='submenu-item'><a href="http://bichos-carpinteiros.blogspot.com/" title="None">Bichos Carpinteiros</a></li>
    <li class='submenu-item'><a href="http://blasfemias.net/" title="None">Blasfémias</a></li>
    <li class='submenu-item'><a href="http://blogosocialportugues.blogspot.com/" title="None">Blogo Social Português</a></li>
    <li class='submenu-item'><a href="http://cachimbodemagritte.com/" title="None">Cachimbo de Magritte</a></li>
    <li class='submenu-item'><a href="http://blog.causaliberal.net/" title="None">Causa Liberal</a></li>
    <li class='submenu-item'><a href="http://causa-nossa.blogspot.com/" title="None">Causa Nossa</a></li>
    <li class='submenu-item'><a href="http://clubedasrepublicasmortas.blogs.sapo.pt/" title="None">Clube das Repúblicas Mortas</a></li>
    <li class='submenu-item'><a href="http://delitodeopiniao.blogs.sapo.pt/" title="None">Delito de Opinião</a></li>
    <li class='submenu-item'><a href="http://doportugalprofundo.blogspot.com/" title="None">Do Portugal Profundo</a></li>
    <li class='submenu-item'><a href="http://espectadorinteressado.blogspot.com/" title="None">Espectador Interessado</a></li>
    <li class='submenu-item'><a href="http://esquerda-republicana.blogspot.com/" title="None">Esquerda Republicana</a></li>
    <li class='submenu-item'><a href="http://righthandside.blogspot.com/" title="None">falta de tempo</a></li>
    <li class='submenu-item'><a href="http://farmaciacentral.wordpress.com/" title="None">Farmácia Central</a></li>
    <li class='submenu-item'><a href="http://forteapache.blogs.sapo.pt/" title="None">Forte Apache</a></li>
    <li class='submenu-item'><a href="http://ladroesdebicicletas.blogspot.com/" title="None">Ladrões de Bicicletas</a></li>
    <li class='submenu-item'><a href="http://lei-e-ordem.blogspot.com/" title="None">Lei e Ordem</a></li>
    <li class='submenu-item'><a href="http://a-leiseca.blogspot.com/" title="None">Lei Seca</a></li>
    <li class='submenu-item'><a href="http://www.lobidocha.com/" title="None">Lóbi do Chá</a></li>
    <li class='submenu-item'><a href="http://manualdemauscostumes.blogs.sapo.pt/" title="None">Manual de Maus Costumes</a></li>
    <li class='submenu-item'><a href="http://myguidetoyourgalaxy.blogspot.com/" title="None">My Guide to your Galaxy</a></li>
    <li class='submenu-item'><a href="http://lei-natural.blogspot.com/" title="None">Ordem Natural</a></li>
    <li class='submenu-item'><a href="http://avezdopeao.blogspot.com/" title="None">Peão</a></li>
    <li class='submenu-item'><a href="http://platonismopolitico.blogspot.com/" title="None">Platonismo Político</a></li>
    <li class='submenu-item'><a href="http://portugalcontemporaneo.blogspot.com/" title="None">Portugal Contemporâneo</a></li>
    <li class='submenu-item'><a href="http://ventosueste.blogspot.com/" title="None">Vento Sueste</a></li>
    <li class='submenu-item'><a href="http://ruitavares.net/blog/" title="None">ruitaveres</a></li>
    <li class='submenu-item'><a href="http://uniaodefacto.blogs.sapo.pt/" title="None">união de facto</a></li>
    <li class='submenu-item'><a href="http://vistalegre.blogspot.com/" title="None">Vistalegre Blog</a></li>
</ul>

<h2>.fora</h2>
<ul class='submenu'>
    <li class='submenu-item'><a href="http://kantooseconomics.com/" title="None">Kantoos</a></li>
    <li class='submenu-item'><a href="http://www.theatlantic.com/megan-mcardle/" title="None">Megan McArdle</a></li>
    <li class='submenu-item'><a href="http://marginalrevolution.com/" title="None">Marginal Revolution</a></li>
    <li class='submenu-item'><a href="http://www.themoneyillusion.com/" title="None">The Money Illusion</a></li>
    <li class='submenu-item'><a href="http://super-economy.blogspot.com/" title="None">Super Economy</a></li>
    <li class='submenu-item'><a href="http://themonkeycage.org/" title="None">The Monkey Cage</a></li>
    <li class='submenu-item'><a href="http://modeledbehavior.com/" title="None">Modeled Behavior</a></li>
    <li class='submenu-item'><a href="http://worthwhile.typepad.com/worthwhile_canadian_initi/" title="None">Worthwhile Canadian Iniciative</a></li>
    <li class='submenu-item'><a href="http://www.slate.com/blogs/moneybox.html" title="None">Moneybox (Matt Yglesias)</a></li>
    <li class='submenu-item'><a href="http://www.theagitator.com/" title="None">The Agitator</a></li>
    <li class='submenu-item'><a href="http://volokh.com/" title="None">Volokh Conspiracy</a></li>
    <li class='submenu-item'><a href="http://uneasymoney.com/" title="None">Uneasy Money</a></li>
    <li class='submenu-item'><a href="http://thefaintofheart.wordpress.com/" title="None">Historinhas</a></li>
</ul>
