<header id="header">
    <div class="logo">rabbit's blog</div>
    <div id="tabs">
        <ul id='navigation'>
            <li><a href="/">All</a></li>
            <li><a href="/tag/essays">Essays</a></li>
            <li><a href="/tag/restaurants">Eating</a></li>
            <li><a href="/tag/ecume">Ecume</a></li>
            <li><a href="/pages/about">About</a></li>
        </ul>
    </div>
    <div class="banner"><span>um texto pode esconder outro, leia duas vezes antes de avançar</span></div>
</header>
<div id="wrapper">
<div id="left">
    {% include blogroll.html %}
</div>
<div id="right">
  <img src="/static/images/headshot.jpg" alt="Headshot of me" title="Luis Pedro Coelho" style="margin-top: 16px; margin-bottom: 16px;" />
    {% include outras.html %}


<div><p>
<a href="http://blog.luispedro.org/feed/"><img src="/static/images/feed-icon-28x28.png" alt="RSS" />RSS feed</a>
</p>
</div>
</div>

