{% extends "base.html" %}
{% load markup %}
{% block title %}{{ title }}{% endblock %}
{% block extra_head %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/blog/feed" />
{% endblock %}
{% block content %}

{% for post in posts %}
    <div class="blog-post">
        <h2><a href="/blog/{{ post.year_month_slug }}">{{ post.title }}</a></h2>
    
        {% if reduced %}
            {{ post.content|truncatewords_html:20 }}
            <p style="text-align: right; padding-top: -1em;"><h2><a href="/blog/{{ post.year_month_slug }}">{{ post.title }}</a></p>
        {% else %}
            {{ post.content }}
        {% endif %}
    </div>
{% endfor %}

{% endblock %}
