{% extends "base.html" %}
{% load disqus %}
{% block extra_head %}
    <meta name="keywords" content="{% for cat in article.categories.all %}{{ cat.name }}, {% endfor %}" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/blog/feed" />
{% endblock %}
{% block content %}
<h2>{% block title %}{{ post.title }}{% endblock %}</h2>
<script>
$(function () {
    var path = $(location).attr('pathname');
    if (path.search(/-pt.?$/) > 0) {
        path = path.replace("-pt","-en");
        text = "English version";
    } else {
        path = path.replace("-en","-pt");
        text = "Versão Portuguesa";
    }
    $('#alternate')
        .append("<a href='"+path+"'>"+text+"</a>");
});
</script>
<p id='alternate'></p>
{{ post.content }}

<div class="share">
<span  class='st_twitter_vcount' displayText='Tweet'></span><span  class='st_identi_vcount' displayText='identi.ca'></span><span  class='st_wordpress_vcount' displayText='WordPress'></span><span  class='st_email_vcount' displayText='Email'></span><span  class='st_sharethis_vcount' displayText='ShareThis'></span><span  class='st_plusone_vcount' ></span><span  class='st_fblike_vcount' ></span>
</div>

{% disqus_thread post %}

{% endblock %}
