$colwidth: 168px;
$colpad: 12px;
$colmin: 150px;

$tabwidth: 112px;
$ntabs: 6;


$bronzetan: #BD3600;
$smokered: #D95550;
$overcome: #F89B0F;
$pondgreen: #647704;
$crystalgreen: #90a905;
$toastedchilipowder: #430a01;
$purplepumpkin: #6d2243;
$circus392: #FFDC68;

body {
    font-family: sans-serif;
    background: url(/static/images/background.jpg) no-repeat;
    background-width: 100%;
    background-height: 140px;
}

h1 {
    color: $smokered;
}

h2 {
    font-family: "Garuda";
}

.logo {
    font: {
        family: "Garuda";
        size: 36pt;
        weight: bold;
    }
    color: white;
    margin-left: 3em;
    text-shadow: 0px 0px 12px $toastedchilipowder;
}

.banner {
    font: {
        family: "Garuda";
        size: 12pt;
        style: italic;
    }
    text-align: right;
    margin-bottom: 2em;
    span {
        border-bottom: solid $crystalgreen 2px;
    }
}

#header {
    margin: auto;
    width: ($tabwidth * $ntabs);
    #tabs {
        margin: auto;
    }
    ul {
        border: solid 2px $pondgreen;
        border-radius: 12px;
        background-color: white;
        padding: {
            left: 2em;
            right: 2em;
        }
        list-style: none;
        height: 42px;
        text-align: center;
        margin: {
            left: auto;
            right: auto;
        }
    }
    ul li {
        display: block;
        float: left;
        height: 22px;
        width: $tabwidth;
        a {
            font: {
                family: "Garuda";
                weight: bold;
                size: 16pt;
            }
            color: $purplepumpkin;
            text-decoration: none;
            &:hover {
                text-shadow: 0px 0px 12px $pondgreen;
            }
        }
    }
}

#left {
    float: left;
    min-width: $colmin;
    width: $colwidth;
    padding-right: $colpad;
}

#right {
    float: right;
    min-width: $colmin;
    width: $colwidth;
    padding-left: $colpad;
}

#content {
    width: 64%;
    margin-left: ($colpad+$colwidth);
}

.blog-post {
    h2 a {
        color: $purplepumpkin;
        text-decoration: none;
        border-bottom: 2px dotted $purplepumpkin;
        margin-bottom: 12px;
    }
}


ul.submenu {
    list-style: none;
    border-left: solid 4px $circus392;
    padding-left: 0px;
    border-radius: 3px;
    margin: 11px;
    li.submenu-item {
        padding-top: 8px;
        padding-left: 2px;
        a {
            padding-bottom: 4px;
            color: $pondgreen;
            text-decoration: none;
            &:hover {
                color: darken($pondgreen, 50%);
            }
        }
    }
}


div.share {
    margin-top: 3em;
}

// See http://wordpress.org/support/topic/disqus-comments-showing-below-sidebar
#disqus_thread {
    overflow:hidden;
}
