$colwidth: 17%;
$colpad: 3em;
$colmin: 150px;

#header {
    margin: auto;
    width: 75%;
    ul {
        border-top: solid 2px black;
        border-bottom: solid 2px black;
        padding: {
            left: 2em;
            right: 2em;
        }
        list-style: none;
        height: 42px;
        text-align: center;
        margin: {
            left: auto;
            right: auto;
        }
    }
    ul li {
        display: block;
        float: left;
        padding-right: 5px;
        padding-left: 5px;
        height: 22px;
        padding-top: 12px;
    }
}

#left {
    float: left;
    min-width: $colmin;
    width: $colwidth;
    padding-right: $colpad;
}

#right {
    float: right;
    min-width: $colmin;
    width: $colwidth;
    padding-left: $colpad;
}

#content {
    width: 64%;
    margin-left: $colwidth;
}
