$colwidth: 168px;
$colpad: 12px;
$colmin: 150px;



$bronzetan: #BD3600;
$smokered: #D95550;
$overcome: #F89B0F;
$pondgreen: #647704;
$crystalgreen: #90a905;
$toastedchilipowder: #430a01;
$purplepumpkin: #6d2243;
$circus392: #FFDC68;

h1 {
    color: $smokered;
}

#header {
    margin: auto;
    width: 64%;
    ul {
        border-top: solid 2px $bronzetan;
        border-bottom: solid 2px $bronzetan;
        background: #eee;
        padding: {
            left: 2em;
            right: 2em;
        }
        list-style: none;
        height: 42px;
        text-align: center;
        margin: {
            left: auto;
            right: auto;
        }
    }
    ul li {
        display: block;
        float: left;
        padding-right: 5px;
        padding-left: 5px;
        height: 22px;
        padding-top: 12px;
    }
}

#left {
    float: left;
    min-width: $colmin;
    width: $colwidth;
    padding-right: $colpad;
}

#right {
    float: right;
    min-width: $colmin;
    width: $colwidth;
    padding-left: $colpad;
}

#content {
    width: 64%;
    margin-left: ($colpad+$colwidth);
}

.blog-post {
    h2 a {
        color: $purplepumpkin;
        text-decoration: none;
        border-bottom: 2px dotted $purplepumpkin;
        margin-bottom: 12px;
    }
}


ul.submenu {
    list-style: none;
    background: $circus392;
    padding-left: 0px;
    border-radius: 3px;
    margin: 11px;
    li.submenu-item {
        padding-top: 8px;
        padding-left: 2px;
        a {
            padding-bottom: 4px;
            color: $purplepumpkin;
            text-decoration: none;
            &:hover {
                color: lighten($purplepumpkin, 50%);
            }
        }
    }
}


