{% load compress %}
{% load menus_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
    <title>{% block title %}Rabbit's Blog{% endblock %}</title>
    <meta name="author" content="Luis Pedro Coelho" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="favicon.ico" />

    {% compress css %}
    <link href="/static/style/rabbit.scss" rel="stylesheet" type="text/x-sass" charset="utf-8" />
    {% endcompress %}

    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher:'664c4574-ad61-42df-8163-b93fc9e7ad64'});</script>
    {% endblock %}
    {% block extra_head %}
    {% endblock %}
</head>


<body>
<div id="header">
  <div class="logo">{% block logo %}rabbit's blog{% endblock %}</div>
  <div id="tabs">
  {% show_tabs "Top Menu" %}
  </div>
  <div class="banner"><span>{% block tagline %}um texto pode esconder outro, leia duas vezes antes de avançar{% endblock %}</span></div>
</div>

<div id="wrapper">
<div id="left">
  {% block sidebar %}
    {% show_menu "Blogroll" %}
  {% endblock %}
</div>
<div id="right">
  <img src="/static/images/headshot.jpg" alt="Headshot of me" title="Luis Pedro Coelho" style="margin-top: 16px; margin-bottom: 16px;" />
  {% show_menu "Outras Paragens" %}


<table style="width: 165px">
  <tr>
  <td>
    <img src="http://groups.google.com/intl/en/images/logos/groups_logo_sm.gif" height=30 width=140 alt="Google Groups">
  </td>
  </tr>
  <tr><td style="padding-left: 5px">
  <b>Subscribe by Email</b>
  </td></tr>
  <form action="http://groups.google.com/group/rabbits-blog/boxsubscribe">
  <input type=hidden name="hl" value="en">
  <tr>
  <td style="padding-left: 5px;">Email: <input type=text name=email>
  <input type=submit name="sub" value="Subscribe">
  </td></tr>
  </form>
  <tr><td>
  <a href="http://groups.google.com/group/rabbits-blog?hl=en">Visit this group</a>
  </td></tr>
</table>

<div><p>
<a href="http://blog.luispedro.org/feed/"><img src="/static/images/feed-icon-28x28.png" alt="RSS" />RSS feed</a>
</p>
</div>
</div>

{% autoescape off %}
        <div id="content">
            {% block content %}
                My content
            {% endblock %}
        </div>
{% endautoescape %}
</div>

<div class="spacer">&nbsp;</div>
<div class="footer">
        {% block footer %}
            Copyright (c) 2012. Luis Pedro Coelho. All rights reserved.<br />
        {% endblock %}
</div>
{% block bodyend %}
<!-- Start google analytics -->
<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
    var pageTracker = _gat._getTracker("UA-973604-1");
    pageTracker._trackPageview();
} catch(err) {
    /* pass */
}
</script>
<!-- End google analytics -->

<!-- Site Meter -->
<script type="text/javascript" src="http://s22.sitemeter.com/js/counter.js?site=s22rabbit">
</script>
<noscript>
<a href="http://s22.sitemeter.com/stats.asp?site=s22rabbit" target="_top">
<img src="http://s22.sitemeter.com/meter.asp?site=s22rabbit" alt="Site Meter" border="0"/></a>
</noscript>
<!-- Copyright (c)2009 Site Meter -->
{% endblock %}
</body>
</html>
